.headline{
    font-weight: 100;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 0.3rem;
    word-spacing: 0.2rem;
    
    @mixin atSmall{
        font-size: 2.5rem;
    }
    &__center{
        text-align: center;
    }
    &__t-padding{
        padding-top: 5rem;
    }
    &__subheading{
        font-style: italic;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 100;
        font-size: 1rem;
        color: gray;
        letter-spacing: 0;
    }
    &__content{
        text-align: justify;
            line-height: 1.5;
            font-size: 15px; 
        @mixin atMedium{
            line-height: 1.75;
            font-size: 1rem; 
        }   
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3 ,0.5fr);
    }
    &__items{
        padding-top: 5rem; 
        padding-left: 5rem;
        border-radius:5px 5px 5px 5px;
        border: 1px solid #FFF;
    
    }
}
.grid{
    @mixin atSmall{
      display: grid;
      grid-template-columns: repeat(3,1fr);  
    }
    
    
    &__items{
        padding-top: 1rem;
        padding-bottom: 1rem;
        @mixin atSmall{
            padding-top: 5rem;
            padding-bottom: 1rem;
        }
        
        
        &__sub-items{
        text-align: center;
        border-radius: 5px;
        
            &__p{
                padding-bottom: 1rem;
                
            }
            &__img{
                border-radius: 7px;
            }
        }
    }
}