/*LARGE_HERO SECTION*/
.large-hero{
    position: relative;
    
    &__text-content{
        padding-top: 80px;
        position: absolute;
        top: 70%;
        left: 0;
        text-align: center;
        width: 100%;
    }
    &__title{
/*
        color: aqua;
        display: inline-block;    
*/
        
         position: relative;
        font-weight: 200;
        color: white;
        font-size: 1rem;
        @mixin atSmall{
            font-size: 1.5rem;
        }
        @mixin atMedium{
            font-size: 1.75rem;
        }
        margin-bottom:25px;
    }
    &__subtitle{
        font-weight: 100;
        color: white;
        font-size: 0.75rem;
        
        @mixin atMedium{
            font-weight: 200;
            font-size: 1rem;
        }
        margin: 0;
    }
}
