.wrapper{
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 800px;*/
    @mixin atSmall{
        max-width: 1200px;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    &__medium{
        padding-left: 10.5rem;
        padding-right: 10.5rem;
/*        max-width: 976px;*/
    }
    &__b-margin{
        @mixin atSmall{
            margin-bottom: 3.875rem;
        }
    }
    &__narrow{
        max-width: 437px;
    }
    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }
}